<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>whereami</title>
    {% include "whereami/common_css.html" %}
</head>
<body>
    {% include "whereami/nav.html" %}
    {% if messages %}
            <div class="toast toast-success messages">
                    {% for message in messages %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
            </div>
            <br />
    {% endif %}
    <div id="main-content">
        <div class="container">
            <div class="columns col-oneline">
            <div class="col-6"><a href="{% url 'map-home' %}">Map</a>.</div>
            <div class="col-6"><a href="{% url 'game-home' %}">Game</a>.</div>
            <div class="col-6"><a href="{% url 'user-home' %}">User</a>.</div>
            </div>
        </div>
</body>
</html>