<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>whereami</title>
    {% include "whereami/common_css.html" %}
</head>
<body>
    {% include "whereami/nav.html" %}
    {% if messages %}
            <div class="alert alert-success messages" role="alert">
                    {% for message in messages %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
            </div>
            <br />
    {% endif %}
    {% load static %}
    
    <div id="main-content" style="flex: 1 0 auto; margin: 0 auto; width: 90%; margin-top: -50px;"> 
        <div class="row justify-content-md-center" style="margin-top: 100px;">
            <div class="col-md-auto">
                <div class="card" style="width: 25rem;">
                    <img style="height: 450px;" src="{% static 'lost-alone.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Single Player</h5>
                        <p class="card-text">Discover the world by guessing the location of street views</p>
                        <a href="{% url 'singleplayer' %}" class="btn btn-primary">Let's play!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "whereami/footer.html" %}
</body>
</html>
