<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>whereami</title>

    <!-- All the common css in the app will go on here -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    {% include "whereami/nav.html" %}
    <div id="main-content">
        <h1>Welcome to the map creator!</h1>
            {% block mapcreate %} {% endblock %}
    </div>
    {% block otherjs %} 
    {% endblock %} 
</body>
</html>