{% extends "whereami/base.html" %} {# Include might give us some problems #}

{% block othercss %} 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
{% endblock %}

{% block content %}
        <h1>Welcome to the map creator!</h1>
            {% block mapcreate %} {% endblock %}
            <!-- Ending of the main-content div that comes from base -->
    </div> 
    {% block otherjs %} 
    {% endblock %}
{% endblock %}


