{% extends 'map/base-map.html' %}

{% block mapcreate %}
        <h3>CUSTOM MAP CREATOR</h3>
        <p>Click in the map to choose a location</p>
        <div id='map' style='height: 500px;'></div>
        <div id="show-coords"></div>
        <form action="" method="post">
                <label>When you are ready submit your custom created map</label>
                <input type="submit" value="Generate map!"> 
        </form>
        
{% endblock %}

{% block otherjs %}
        {% load static %}
        <script src="{% static 'map/javascript/mapCreation.js' %}"></script>
        
{% endblock %}