{% extends 'map/base-map.html' %}


{% block othercss %}
    {% load static %}
    <link href="{% static 'map/css/custom_map.css' %}" rel="stylesheet" />
{% endblock %}

{% block mapcreate %}
        <h3>CUSTOM MAP CREATOR</h3>
        <p>Click in the map to choose a location</p>
        <div id="dialog-container"></div>
        <div id='map' style='height: 500px;'></div>
        <table id="show-coords">
                <tr>
                        <td></td>
                        <td></td>
                </tr>
                
        </table> <br />
        <form action="" method="post" onsubmit="handleSubmit()"> 
                {% csrf_token %}
                <label>When you are ready, submit your custom created map!</label><br />
                {{ form }}
                <textarea id="locations-to-submit" name="locations" style="display:none;"></textarea>
                <input type="submit" value="Generate map!" class="btn btn-success"> 
        </form>
        
{% endblock %}

{% block otherjs %}
        {% load static %}
        <script src="{% static 'map/javascript/mapCreation.js' %}"></script>
        
{% endblock %}