{% extends 'map/base-map.html' %}


{% block othercss %}

	{% load static %}
	<link href="{% static 'map/css/mapbox-gl-draw.css' %}" rel="stylesheet" />
    <link href="{% static 'map/css/loading.css' %}" rel="stylesheet" />
{% endblock %}

{% block mapcreate %}

		
        <h3>Create by selecting region</h3>
        <p>Use the top right toolbar to draw one or more polygon</p>
        <p>This map creator will create 10 random locations on each drawn polygon which will never change!</p>
        <p>A way to generate multiple locations by only using a selection is still under development</p>
        <div id="slow-alert" class="alert alert-warning messages" role="alert">
            THIS PAGE IS VERY SLOW ON MORE THAN 1 OR EVEN LARGE POLYGONS. <br \>
            WE ARE DEVELOPING A MORE EFFICIENT WAY TO DO THIS!
        </div>
        <div id="generating-alert" class="alert alert-info" role="alert">
            Generating new map. Please wait! <div class="lds-dual-ring"></div>
        </div>
        <br \>
        <div id='map' style='height: 500px;'></div>
        <form action="" method="post" onsubmit="handleClick()" id="form">
            {% csrf_token %}
        	<textarea id="locations-to-submit" name="locations" style="display: none;"></textarea>
       		<p>When you are done, click the button below!</p>
       		<button id="submit-button" type="submit" class="btn btn-success">Generate map!</button>
        </form>
        
{% endblock %}

{% block otherjs %}
		{% load static %}
		<script src="{% static 'map/javascript/mapbox-gl-draw.js' %}"></script>
        <script src="{% static 'map/javascript/turf.min.js' %}"></script>
        <script src="{% static 'map/javascript/jquery.min.js' %}"></script>
        <script src="{% static 'map/javascript/mapByRegion.js' %}"></script>
        
        
{% endblock %}