{% extends 'map/base-map.html' %}


{% block othercss %}
    <style>
        .map-creator-button {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block mapcreate %}
        <div style="margin: 0 auto; width: 50%;  background-color: slategrey; padding: 10px;">
            <div class="col-3"><a href="{% url 'create-custom' %}"><button class="btn map-creator-button">Create a custom map</button></a></div>
        
            <div class="col-3"><a href="{% url 'create-by-region' %}"><button class="btn map-creator-button">Create a map with a given region</button></a></div>

            <div class="col-3"><a href="{% url 'create-world' %}"><button class="btn map-creator-button">Create a map with any location around the world!</button></a></div>
        </div>        
{% endblock %}


