{% extends 'map/base-map.html' %}


{% block othercss %}
    <style>
        .map-creator-button {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block index %}
        {% load static %}
        <div class="alert alert-warning" role="alert">
            WARNING: All the street view images used in this app are created by users who are willing to provide content. If you see images that you think are not good (especially in random generators). Please, take that into account. We are working hard to provide a free app.
        </div>
        <div class="row justify-content-sm-center" style="flex: 1 0 auto; width: 100%; margin-top: 60px; margin-bottom: 20px;">
            <div class="col-sm-auto"> 
                <div class="card" style="width: 20rem;">
                  <img style="height: 300px;" src="{% static 'by-region.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Random map by region</h5>
                    <p class="card-text">Want to generate random locations? This map creation mode lets you do that!</p>
                    <a href="{% url 'create-by-region' %}" class="btn btn-primary">Create new map!</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-auto">
                <div class="card" style="width: 20rem;">
                  <img style="height: 300px;" src="{% static 'world.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Random map with locations around the world</h5>
                    <p class="card-text">Okay. So you don't want to draw a specific region or set manual locations. Just want to have fun and discover the world? This mode is great for you!</p>
                    <a href="{% url 'create-world' %}" class="btn btn-primary">Create new map!</a>
                  </div>
                </div>
            </div>     
        </div>
{% endblock %}


