{% extends 'map/base-map.html' %}


{% block othercss %}
    <style>
        .map-creator-button {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block index %}
        {% load static %}
        <div class="row justify-content-md-center top-50" style="margin-top: 100px;">
            <div class="col-md-auto">
                <div class="card" style="width: 30rem;">
                  <img style="height: 300px;" src="{% static 'custom.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Custom map</h5>
                    <p class="card-text">Select all the locations of the map manually. Great to test your friends skills!</p>
                    <a href="{% url 'create-custom' %}" class="btn btn-primary">Create new map!</a>
                  </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 30rem;">
                  <img style="height: 300px;" src="{% static 'by-region.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Random map by drawing the region</h5>
                    <p class="card-text">Want to generate random locations? This map creation mode lets you do that!</p>
                    <a href="{% url 'create-by-region' %}" class="btn btn-primary">Create new map!</a>
                  </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card" style="width: 30rem;">
                  <img style="height: 300px;" src="{% static 'world.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Random map with locations around the world</h5>
                    <p class="card-text">Okay. So you don't want to draw a specific region or set manual locations. Just want to have fun and discover the world? This mode is great for you!</p>
                    <a href="{% url 'create-world' %}" class="btn btn-primary">Create new map!</a>
                  </div>
                </div>
            </div>     
        </div>
{% endblock %}


