{% extends 'game/base-game.html' %}
{% block othercss %} 
<style>
</style>
{% endblock %}
{% block content %}
<h1 id="result-heading"></h1>
<br />
<br />
<h4>Challenge your friends! Can they get a better score than you in this map?</h4>
<p>Give them the following id so they can try this map too: <b>{{map_hash}}<b></p>

{% endblock %}

{% block otherjs%}
{% load static %}
<script src="{% static 'map/javascript/jquery.min.js' %}"></script>
<script src="{% static 'game/javascript/confetti.min.js' %}"></script>
<script>
    const score = {{score}};
    const maxPossibleScore = {{max_possible_score}};
    const tenPercentOfMax = {{max_possible_score}}*0.10;
    const twentyFivePercentOfMax = {{max_possible_score}}*0.25;
    const fiftyPercentOfMax = {{max_possible_score}}*0.50;
    const seventyFivePercentOfMax = {{max_possible_score}}*0.75;
    const godlikeScore = {{max_possible_score}}*0.9;

    if (score < 0 || score > maxPossibleScore) {
        document.getElementById("result-heading").innerText = "Something went wrong when calculating your score.";
    } else {

        if(score < tenPercentOfMax) {
        document.getElementById("result-heading").innerText = "Well, that was... Bad. Like really bad...\nYour score was {{score}} points out of {{max_possible_score}}\nYou need to try again!";
        }
        if(score >= tenPercentOfMax && score < twentyFivePercentOfMax) {
            document.getElementById("result-heading").innerText = "What happened?! Your score was {{score}} points out of {{max_possible_score}}\n";
        }
        if(score >= twentyFivePercentOfMax && score < fiftyPercentOfMax) {
            document.getElementById("result-heading").innerText = "Could've been better. Your score was {{score}} points out of {{max_possible_score}}\n";        
        }
        if(score >=fiftyPercentOfMax && score < seventyFivePercentOfMax) {
            document.getElementById("result-heading").innerText = "That was really good! Congrats! Your score was {{score}} points out of {{max_possible_score}}\n";
            confetti.start();
            setTimeout(function(){
                confetti.stop();
            }, 1000);
        } 
        if (score >= seventyFivePercentOfMax && score < godlikeScore) {
            document.getElementById("result-heading").innerText = "Wow!? That's an amazing score, congrats!\nYour score was {{score}} points out of {{max_possible_score}}\n";
            confetti.start();
            setTimeout(function(){
                confetti.stop();
            }, 4000);
        }
        if(score >= godlikeScore) {
            document.getElementById("result-heading").innerText = "OMG! YOU ARE SO GOOD AT THIS! You probably have super powers...\nYour score was {{score}} points out of {{max_possible_score}}\n";
            confetti.start();
        }
    }

    
</script>
</script>
{% endblock %}