    {% extends 'game/base-game.html' %}


    {% block othercss %}
    {% load static %}
    <link href="{% static 'game/css/custom_game.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block content %}
        {% if messages %}
            <div class="alert alert-danger messages" role="alert">
                    {% for message in messages %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
            </div>
            <br />
        {% endif %}
        <div id="singleplayer-home-card" class="card" style="width: 37rem;">
                <div class="card-body">
                        <h5 class="card-title">Single player game</h5>
                        <p class="card-text">Do you have a map id or do you wish to create a map now?</p>
                        <div class="row justify-content-sm-center">
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#form-modal">
                                        <a href="#" class="card-link btn btn-secondary">I have a map</a>
                                    </button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-secondary">
                                        <a href="{% url 'singplayer-random' %}" class="card-link btn btn-secondary">Random map</a>
                                    </button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-secondary">
                                        <a href="{% url 'map-home' %}" class="card-link btn btn-secondary">Create a map</a>
                                    </button>
                                </div>
                        </div>
                </div>
                <div class="col text-center" style="margin-top: 20px; margin-bottom: 10px;">
                    <button type="button" class="btn btn-outline-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#explain" >
                        How it works
                    </button>
                </div>
                <!-- What appears when user clicks "I have a map" -->
                <div class="modal fade" id="explain" tabindex="-1" aria-labelledby="explainModal" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="explainModal">How does this work?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li><p>To start a game you need a map id. Or you can also try a random map.</p></li>
                                            <li><p>If you don't have a map id, please create a map by clicking "Create a map".</p></li>
                                            <li><p>After you create a map, a popup box will be shown with the id of the map you just created.</p></li>
                                            <li><p>When you have a valid map id either created by you or given to you by a friend, click "I have a map". Paste the id on there and you are good to go!</p></li>
                                            <li><p>At the end of each game you can share the link with the game summary and share it with your friends.</p></li>
                                            <li><p><b>Good luck!</b></p></li>
                                        </ul>
                                    </div>
                            </div>
                    </div>
            </div>
        </div>
        
        <!-- What appears when user clicks "I have a map" -->
        <div class="modal fade" id="form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">SELECT MAP ID</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        <form id="select-map-id" action="" method="POST">
                                                {% csrf_token %} 
                                                <div class="mb-3">
                                                        <label for="map_id" class="form-label">Enter the map id that was given to you after map creation</label>
                                                        <input id="map_id" name="map_id" class="form-control" aria-describedby="enter map id">
                                                </div>
                                                <button type="submit" class="btn btn-success">Start game!</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>

        
        
    {% endblock %}

    {% block otherjs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'map/javascript/jquery.min.js' %}"></script>
    {% endblock %}